/*  ===============
    Home Page Style
    =============== */
hr {
    display: block;
    border-style: double;
    border-width: thin;
    color: #A67B5B;
    width: 20%;
    margin-bottom: 5em;
    margin-left: 0;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 20;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-image: url(../imgs/art/kyotoCafe2.jpeg);
  background-size: 1500px ;
}

/* Control the right side */
.right {
  right: 0;
  background-color: beige;
  font-family: 'Major Mono Display', sans-serif;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.leftFocus {
  position: absolute;
  left: 20%;
  margin-right: 40px;
  top: 15%;
  text-align: left;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 200px;
  border-radius: 0%;
}